/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .tm-search-filter-apply{
    display:none;
  }
  .show-desktop {
    display:block;
  }
  .show-mobile {
    display:none;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .woocommerce ul.products li.product{
    width: 45% !important;
  }
  .tm-search-filter-apply{
    display:none;
  }
  .show-desktop {
    display:block;
  }
  .show-mobile {
    display:none;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .woocommerce ul.products li.product{
    width: 100% !important;
  }
  .tm-search-filter-apply{
    display:none;
  }
  .show-desktop {
    display:none;
  }
  .show-mobile {
    display:block;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .woocommerce ul.products li.product{
    width: 100% !important;
  }
  .tm-search-filter-apply{
    display:none;
  }
  .show-desktop {
    display:none;
  }
  .show-mobile {
    display:block;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .woocommerce ul.products li.product{
    width: 100% !important;
  }
  .tm-search-filter-apply{
    display:none;
  }
  .show-desktop {
    display:none;
  }
  .show-mobile {
    display:block;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .woocommerce ul.products li.product{
    width: 100% !important;
  }
  .show-desktop {
    display:none;
  }
  .show-mobile {
    display:block;
  }
  #tm-search-sticky-footer{
    position: fixed;
    bottom: 0;
    background: #f5f5f5;
    height: 65px;
    z-index: 1001;
    left: 0;
    right: 0;
    border-top: 1px solid #c4c4c4;
  }
  .form-search-filter-container {
    display:none;
    height: 90%;
    overflow: scroll;
    margin: 0 10px;
    padding: 20px;
  }

}
